<picmodule>
<mdata tag="home">
     <marticle mimg="images/module/home01.jpg" mcaption="BMW">Three highly complex award winning micro sites client BMW, featuring their E92, E93, and M Series vehicles. Elements of these sites/applications included video presentations, 3D graphic animations and sophisticated navigational elements</marticle>
     <marticle mimg="images/module/home02.jpg" mcaption="NETJETS">Interactive Private Jet Display application for NetJets, Berkshire Hathaway company (Warren Buffet). Leases private jets. Search matrix, clients to select and display featured sets of jets appropriate for needs. 3D displays, image galleries, navigational system</marticle>
     <marticle mimg="images/module/home03.jpg" mcaption="EDWARD JONES">Interactive Question and Answer Video Application. Questions answered by a video host by clicking on questions, an animated (video) host then answers. Easily updated by adding more questions and answers and videos to the application back end</marticle>
     <marticle mimg="images/module/home04.jpg" mcaption="VERA WANG">Have completed numerous projects using best practice development techniques for Front-end / Back-end projects. Some of my past projects include projects for BMW, Net Jets, SONY, Edward Jones and TJX.</marticle>
     <marticle mimg="images/module/home05.jpg" mcaption="SONY">Website interface design, web color coordination, general site esthetics and logical link placement.Game design and programming. Designed game to promote Sony’s latest handheld MP3 listening device. </marticle>
     <marticle mimg="images/module/home06.jpg" mcaption="DON JOLIO">Award For Don Jolio Tequila: http://www.webaward.org/winner.asp?eid=13025#.U5vul_kd4uc. Have completed numerous projects using best practice development techniques for Front-end / Back-end projects.</marticle>
     <marticle mimg="images/module/home07.jpg" mcaption="LIFE SKILLS">LIFE SKILLS Chapter 1, interactive children’s CD, teaching kids the importance of being assertive. Company MarketWorks. All interactivity, including capturing for later print out, the user’s responses to practice and role playing game sessions</marticle>
     <marticle mimg="images/module/home08.jpg" mcaption="ODOMETER">Three highly complex award winning micro sites for client BMW, featuring their E92, E93, and M Series vehicles. Elements of these sites/applications included video presentations, 3D graphic animations and sophisticated navigational elements</marticle>
 </mdata>
 <mdata tag="world01">
     <marticle mimg="images/module/africa01.jpg" mcaption="Nigeria(list added)">Nigeria is often referred to as the "Giant of Africa", due to its large population and economy. With approximately 174 million inhabitants, Nigeria is the most populous country in Africa and the seventh most populous country in the world. </marticle>
     <marticle mimg="images/module/africa03.jpg" mcaption="Egypt(link list added)">Egypt has one of the longest histories of any modern country, arising in the tenth millennium BCE as one of the world's first nation states. Considered a cradle of civilization, experienced some of the earliest developments of writing.</marticle>
     <marticle mimg="images/module/africa04.jpg" mcaption="Ghana(social media buttons)">Ghana is the 7th-best governed country, 5th-most stable country and rated thirteenth-highest HDI on continental Africa. <img scr='images/littlepic01.png' />Ghana's economy is the 6th-largest on the Africa continent by purchasing power parity and Nominal GDP and is one of the fastest growing in the world.</marticle>
     <marticle mimg="images/module/africa02.jpg" mcaption="South Africa (BKG color)">South Africa is a multiethnic society encompassing a wide variety of cultures, languages, and religions. Its pluralistic makeup is reflected in the constitution's recognition of 11 official languages, which is among the highest number of any country in the world.</marticle>
     <marticle mimg="images/module/carib03.jpg" mcaption="Cuba"><![CDATA[Cuba, officially the <strong><em>Republic of Cuba</em></strong> is an island country in the Caribbean. The nation of Cuba comprises the main island of Cuba, the Isla de la Juventud, and several archipelagos. Havana is the capital of Cuba and its largest city.]]></marticle>
     <marticle mimg="images/module/carib04.jpg" mcaption="Trinidad (Background color)">The island of Trinidad was a Spanish colony from the arrival of Christopher Columbus in 1498 to the capitulation of the Spanish Governor, Don José Maria Chacón, on the arrival of a British fleet of 18 warships on 18 February 1797. </marticle>
     <marticle mimg="images/module/euro02.jpg" mcaption="Italy">Italy is a unitary parliamentary republic in Southern Europe. To the north, Italy borders France, Switzerland, Austria, and Slovenia, and is roughly delimited by the Alpine watershed, enclosing the Po Valley and the Venetian Plain.</marticle>
     <marticle mimg="images/module/euro03.jpg" mcaption="Russia">Russia also officially known as the Russian Federation, is a country in northern Eurasia. It is a federal semi-presidential republic. From northwest to southeast, Russia shares land borders with Norway, Finland, Estonia, Latvia, Lithuania and Poland (both with Kaliningrad Oblast)</marticle>
     <marticle mimg="images/module/usa01.jpg" mcaption="New York">New York City, with a Census-estimated population of over 8.4 million in 2013, is the most populous city in the United States and the nucleus of the premier gateway for legal immigration to the United States—the New York City Metropolitan Area</marticle>
     <marticle mimg="images/module/usa02.jpg" mcaption="Las Vegas">Las Vegas is generally used to describe not just the city itself, but areas beyond the city limits - especially the resort areas on and near the Las Vegas Strip - and the Las Vegas Valley.</marticle>
     <marticle mimg="images/module/usa03.jpg" mcaption="Arizona">Arizona is a state in the southwestern region of the United States. It is also part of the Western United States and of the Mountain West states. It is the sixth largest and the 15th most populous of the 50 states.</marticle>
     <marticle mimg="images/module/usa04.jpg" mcaption="Florida">Florida is a state in the southeastern region of the United States, bordered to the west by the Gulf of Mexico, to the north by Alabama and Georgia, to the east by the Atlantic Ocean, and to the south by the Straits of Florida.</marticle>
     <marticle mimg="images/module/carib01.jpg" mcaption="Barbados">In 1966, Barbados became an independent state and Commonwealth realm, retaining Queen Elizabeth II as Head of State. It has a population of 277,821 people, mostly of African descent. Despite being classified as an Atlantic island.</marticle>
     <marticle mimg="images/module/carib02.jpg" mcaption="Jamaica">Jamaica's climate is tropical, supporting diverse ecosystems with a wealth of plants and animals. Jamaica's plant life has changed considerably over the centuries. When the Spanish arrived in 1494, except for small agricultural clearings, the country was deeply forested.</marticle>
     <marticle mimg="images/module/soamerica03.jpg" mcaption="Mexico">Mexico is the fifth largest country in the Americas by total area and the 13th largest independent nation in the world.</marticle>
     <marticle mimg="images/module/soamerica04.jpg" mcaption="Colombia">Colombia officially the Republic of Colombia (Spanish: República de Colombia), is a country situated in the northwest of South America, bordered to the northwest by Panama; to the east by Venezuela and Brazil; to the south by Ecuador and Peru.</marticle>
  </mdata>
  
  <mdata tag="world02">
     <marticle mimg="images/module/soamerica01.jpg" mcaption="Brazil">Bounded by the Atlantic Ocean on the east, Brazil has a coastline of 7,491 km (4,655 mi). It borders all other South American countries except Ecuador and Chile and occupies 47 percent of the continent of South America. </marticle>
     <marticle mimg="images/module/soamerica02.jpg" mcaption="Costa Rica">Meaning "rich coast" in Spanish, officially the Republic of Costa Rica (Spanish: Costa Rica or República de Costa Rica), is a country in Central America, bordered by Nicaragua to the north, Panama to the southeast, the Pacific Ocean to the west.</marticle>
     <marticle mimg="images/module/soamerica04.jpg" mcaption="Colombia">Colombia officially the Republic of Colombia (Spanish: República de Colombia), is a country situated in the northwest of South America, bordered to the northwest by Panama; to the east by Venezuela and Brazil; to the south by Ecuador and Peru.</marticle>
     <marticle mimg="images/module/soamerica03.jpg" mcaption="Mexico">Mexico is the fifth largest country in the Americas by total area and the 13th largest independent nation in the world.</marticle>
     <marticle mimg="images/module/carib01.jpg" mcaption="Barbados">In 1966, Barbados became an independent state and Commonwealth realm, retaining Queen Elizabeth II as Head of State. It has a population of 277,821 people, mostly of African descent. Despite being classified as an Atlantic island</marticle>
     <marticle mimg="images/module/carib02.jpg" mcaption="Jamica">Jamaica's climate is tropical, supporting diverse ecosystems with a wealth of plants and animals. Jamaica's plant life has changed considerably over the centuries. When the Spanish arrived in 1494, except for small agricultural clearings</marticle>
     <marticle mimg="images/module/euro03.jpg" mcaption="Russia">Russia also officially known as the Russian Federation, is a country in northern Eurasia. It is a federal semi-presidential republic. From northwest to southeast, Russia shares land borders with Norway, Finland, Estonia, Latvia, Lithuania and Poland (both with Kaliningrad Oblast)</marticle>
     <marticle mimg="images/module/africa01.jpg" mcaption="Nigeria">Nigeria is often referred to as the "Giant of Africa", due to its large population and economy. With approximately 174 million inhabitants, Nigeria is the most populous country in Africa and the seventh most populous country in the world.</marticle>
     <marticle mimg="images/module/carib01.jpg" mcaption="Barbados">In 1966, Barbados became an independent state and Commonwealth realm, retaining Queen Elizabeth II as Head of State. It has a population of 277,821 people, mostly of African descent. Despite being classified as an Atlantic island, Barbados is considered to be a part of the Caribbean</marticle>
     <marticle mimg="images/module/carib02.jpg" mcaption="Jamaica">Jamaica's climate is tropical, supporting diverse ecosystems with a wealth of plants and animals. Jamaica's plant life has changed considerably over the centuries. When the Spanish arrived in 1494, except for small agricultural clearings, the country was deeply forested. </marticle>
     <marticle mimg="images/module/carib03.jpg" mcaption="Cuba">Cuba, officially the Republic of Cuba is an island country in the Caribbean. The nation of Cuba comprises the main island of Cuba, the Isla de la Juventud, and several archipelagos. Havana is the capital of Cuba and its largest city.</marticle>
     <marticle mimg="images/module/carib04.jpg" mcaption="Trinidad">The island of Trinidad was a Spanish colony from the arrival of Christopher Columbus in 1498 to the capitulation of the Spanish Governor, Don José Maria Chacón, on the arrival of a British fleet of 18 warships on 18 February 1797. During the same period</marticle>
     <marticle mimg="images/module/africa01.jpg" mcaption="Nigeria">Nigeria is often referred to as the "Giant of Africa", due to its large population and economy. With approximately 174 million inhabitants, Nigeria is the most populous country in Africa and the seventh most populous country in the world.</marticle>
     <marticle mimg="images/module/africa02.jpg" mcaption="South Africa">South Africa is a multiethnic society encompassing a wide variety of cultures, languages, and religions. Its pluralistic makeup is reflected in the constitution's recognition of 11 official languages, which is among the highest number of any country in the world.</marticle>
     <marticle mimg="images/module/usa03.jpg" mcaption="Arizona">Arizona is a state in the southwestern region of the United States. It is also part of the Western United States and of the Mountain West states. It is the sixth largest and the 15th most populous of the 50 states.</marticle>
     <marticle mimg="images/module/usa04.jpg" mcaption="Florida">Florida is a state in the southeastern region of the United States, bordered to the west by the Gulf of Mexico, to the north by Alabama and Georgia, to the east by the Atlantic Ocean, and to the south by the Straits of Florida. Florida is the 22nd most extensive</marticle>
  </mdata>
  <!-- 
  <mdata tag="africa">
     <marticle mimg="images/module/africa01.jpg" mcaption="Nigeria">Nigeria is often referred to as the "Giant of Africa", due to its large population and economy. With approximately 174 million inhabitants, Nigeria is the most populous country in Africa and the seventh most populous country in the world.</marticle>
     <marticle mimg="images/module/africa03.jpg" mcaption="Egypt">Egypt has one of the longest histories of any modern country, arising in the tenth millennium BCE as one of the world's first nation states. Considered a cradle of civilization, Ancient Egypt experienced some of the earliest developments of writing, agriculture, urbanisation, organised religion and central government in history.</marticle>
     <marticle mimg="images/module/africa04.jpg" mcaption="Ghana">Ghana is the 7th-best governed country, 5th-most stable country and rated thirteenth-highest HDI on continental Africa. Ghana's economy is the 6th-largest on the Africa continent by purchasing power parity and Nominal GDP and is one of the fastest growing in the world.</marticle>
     <marticle mimg="images/module/africa02.jpg" mcaption="South Africa">South Africa is a multiethnic society encompassing a wide variety of cultures, languages, and religions. Its pluralistic makeup is reflected in the constitution's recognition of 11 official languages, which is among the highest number of any country in the world.</marticle>
     <marticle mimg="images/module/carib03.jpg" mcaption="Cuba">Cuba, officially the Republic of Cuba is an island country in the Caribbean. The nation of Cuba comprises the main island of Cuba, the Isla de la Juventud, and several archipelagos. Havana is the capital of Cuba and its largest city.</marticle>
     <marticle mimg="images/module/carib04.jpg" mcaption="Trinidad">The island of Trinidad was a Spanish colony from the arrival of Christopher Columbus in 1498 to the capitulation of the Spanish Governor, Don José Maria Chacón, on the arrival of a British fleet of 18 warships on 18 February 1797. During the same period, the island of Tobago changed hands among Spanish, British, French, Dutch and Courlander colonizers.</marticle>
     <marticle mimg="images/module/euro02.jpg" mcaption="Italy">Italy is a unitary parliamentary republic in Southern Europe. To the north, Italy borders France, Switzerland, Austria, and Slovenia, and is roughly delimited by the Alpine watershed, enclosing the Po Valley and the Venetian Plain.The sovereign states of San Marino and the Vatican City are enclaves within Italy, while Campione d'Italia is an Italian exclave in Switzerland.</marticle>
     <marticle mimg="images/module/euro03.jpg" mcaption="Russia">Russia also officially known as the Russian Federation, is a country in northern Eurasia. It is a federal semi-presidential republic. From northwest to southeast, Russia shares land borders with Norway, Finland, Estonia, Latvia, Lithuania and Poland (both with Kaliningrad Oblast), Belarus, Ukraine, Georgia, Azerbaijan, Kazakhstan, China, Mongolia, and North Korea.</marticle>
  </mdata>  
  <mdata tag="caribbean">
     <marticle mimg="images/module/carib01.jpg" mcaption="Barbados">In 1966, Barbados became an independent state and Commonwealth realm, retaining Queen Elizabeth II as Head of State. It has a population of 277,821 people, mostly of African descent. Despite being classified as an Atlantic island, Barbados is considered to be a part of the Caribbean, where it’s ranked as a leading tourist destination.</marticle>
     <marticle mimg="images/module/carib02.jpg" mcaption="Jamaica">Jamaica's climate is tropical, supporting diverse ecosystems with a wealth of plants and animals. Jamaica's plant life has changed considerably over the centuries. When the Spanish arrived in 1494, except for small agricultural clearings, the country was deeply forested. The European settlers cut down the great timber trees for building and ships' supplies, and cleared the plains, savannas, and mountain slopes for intense agricultural cultivation. Many new plants were introduced including sugarcane, bananas, and citrus trees.</marticle>
     <marticle mimg="images/module/carib03.jpg" mcaption="Cuba">Cuba, officially the Republic of Cuba is an island country in the Caribbean. The nation of Cuba comprises the main island of Cuba, the Isla de la Juventud, and several archipelagos. Havana is the capital of Cuba and its largest city.</marticle>
     <marticle mimg="images/module/carib04.jpg" mcaption="Trinidad">The island of Trinidad was a Spanish colony from the arrival of Christopher Columbus in 1498 to the capitulation of the Spanish Governor, Don José Maria Chacón, on the arrival of a British fleet of 18 warships on 18 February 1797. During the same period, the island of Tobago changed hands among Spanish, British, French, Dutch and Courlander colonizers.</marticle>
     <marticle mimg="images/module/africa01.jpg" mcaption="Nigeria">Nigeria is often referred to as the "Giant of Africa", due to its large population and economy. With approximately 174 million inhabitants, Nigeria is the most populous country in Africa and the seventh most populous country in the world.</marticle>
     <marticle mimg="images/module/africa02.jpg" mcaption="South Africa">South Africa is a multiethnic society encompassing a wide variety of cultures, languages, and religions. Its pluralistic makeup is reflected in the constitution's recognition of 11 official languages, which is among the highest number of any country in the world.</marticle>
     <marticle mimg="images/module/usa03.jpg" mcaption="Arizona">Arizona is a state in the southwestern region of the United States. It is also part of the Western United States and of the Mountain West states. It is the sixth largest and the 15th most populous of the 50 states.</marticle>
     <marticle mimg="images/module/usa04.jpg" mcaption="Florida">Florida is a state in the southeastern region of the United States, bordered to the west by the Gulf of Mexico, to the north by Alabama and Georgia, to the east by the Atlantic Ocean, and to the south by the Straits of Florida. Florida is the 22nd most extensive, the 4th most populous, and the 8th most densely populated of the 50 United States. </marticle>
  </mdata>  
   
  <mdata tag="europe">
     <marticle mimg="images/module/euro01.jpg" mcaption="France">France remains a great power with significant cultural, economic, military, and political influence in Europe and around the world. It has the world's fifth-largest military budget, third-largest stockpile of nuclear weapons, and second-largest diplomatic corps. Due to its overseas regions and territories throughout the world, France has the second-largest exclusive economic zone in the world. France is a developed country and has the world's fifth-largest economy by nominal GDP and seventh-largest by purchasing power parity.</marticle>
     <marticle mimg="images/module/euro02.jpg" mcaption="Italy">Italy is a unitary parliamentary republic in Southern Europe. To the north, Italy borders France, Switzerland, Austria, and Slovenia, and is roughly delimited by the Alpine watershed, enclosing the Po Valley and the Venetian Plain.The sovereign states of San Marino and the Vatican City are enclaves within Italy, while Campione d'Italia is an Italian exclave in Switzerland.</marticle>
     <marticle mimg="images/module/euro03.jpg" mcaption="Russia">Russia also officially known as the Russian Federation, is a country in northern Eurasia. It is a federal semi-presidential republic. From northwest to southeast, Russia shares land borders with Norway, Finland, Estonia, Latvia, Lithuania and Poland (both with Kaliningrad Oblast), Belarus, Ukraine, Georgia, Azerbaijan, Kazakhstan, China, Mongolia, and North Korea.</marticle>
     <marticle mimg="images/module/euro04.jpg" mcaption="Greece">Greece officially the Hellenic Republic and known since ancient times as Hellas, is a country in Southern Europe. According to the 2011 census, Greece's population is around 11 million. Athens is the nation's capital and largest city.</marticle>
     <marticle mimg="images/module/usa01.jpg" mcaption="New York">New York City, with a Census-estimated population of over 8.4 million in 2013, is the most populous city in the United States and the nucleus of the premier gateway for legal immigration to the United States—the New York City Metropolitan Area, one of the most populous urban agglomerations in the world.</marticle>
     <marticle mimg="images/module/usa02.jpg" mcaption="Las Vegas">Las Vegas is generally used to describe not just the city itself, but areas beyond the city limits - especially the resort areas on and near the Las Vegas Strip - and the Las Vegas Valley. The 4.2 mi (6.8 km) stretch of South Las Vegas Boulevard known as the Strip is in the unincorporated communities of Paradise, Winchester, and Enterprise (Clark County).</marticle>
     <marticle mimg="images/module/soamerica03.jpg" mcaption="Mexico">Mexico is the fifth largest country in the Americas by total area and the 13th largest independent nation in the world.</marticle>
     <marticle mimg="images/module/africa03.jpg" mcaption="Egypt">Egypt has one of the longest histories of any modern country, arising in the tenth millennium BCE as one of the world's first nation states. Considered a cradle of civilization, Ancient Egypt experienced some of the earliest developments of writing, agriculture, urbanisation, organised religion and central government in history.</marticle>
  </mdata> 
  -->  
</picmodule>