<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WorldManagerThemedFullMVC</display-name>
  <listener>
    <listener-class>
    com.worldmanager.dbhelpers.DBManagerSetup
  </listener-class>
  </listener>
  <context-param>
    <param-name>defaultWebBase</param-name>
    <param-value>WorldJavaee7Sample</param-value>
  </context-param>
  <context-param>
    <param-name>baseURL</param-name>
    <!-- <param-value>http://localhost:8080/WorldManagerThemedFullMVC</param-value> -->
    <param-value>http://sofistitech.com/WorldManagerThemedFullMVC</param-value>
  </context-param>
  <context-param>
  	<param-name>bannerImage</param-name>
  	<param-value>http://sofistitech.com/WorldManagerThemedFullMVC/images/banner03.png</param-value> 
<!-- <param-value>http://localhost:8080/WorldManagerThemedFullMVC/images/banner03.png</param-value> -->
  </context-param>
  <context-param>
  	<param-name>socialimg</param-name>
  	<!-- <param-value>http://localhost:8080/WorldManagerThemedFullMVC/images/somedia_banner01.png</param-value>  -->
  	<param-value>http://sofistitech.com/WorldManagerThemedFullMVC/images/somedia_banner01.png</param-value>
  </context-param>
  <context-param>
    <param-name>copyright</param-name>
    <param-value>2015</param-value>
  </context-param>
  <context-param>
    <param-name>weblink</param-name>
    <param-value>https://www.linkedin.com/pub/ron-desilva/15/53/198</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserid</param-name>
    <!-- <param-value>dbuser</param-value> -->
    <param-value>rongold_user01</param-value>
  </context-param>
  <context-param>
    <param-name>dbuserpwd</param-name>
    <!-- <param-value>12dbuser</param-value> -->
    <param-value>Actiongold1</param-value>
  </context-param>
  <context-param>
    <param-name>dbinitcat</param-name>
    <!-- <param-value>world</param-value> -->
    <param-value>rongold_sofistitech</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorHandler.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>