@CHARSET "ISO-8859-1";

.fixed-nav{
position: fixed; 
width: 100%; 
top: 0; 
height: 30px; 
color:blue;
float:left;	
padding:0;
margin: 0;
}


.fixed-nav ul
{
	list-style:none;

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fixed-nav li
{
	display: inline; 
	float:left;
	width:70px;
	text-align:center;
}

.fixed-nav a
{
	display:block;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	text-decoration:none;
	color:white;
}

.fixed-nav li:hover
{
	background-color:#fec67b;
}

.fixed-nav a:hover
{
	color:black;
}

.active
{
	background-color:#fec67b;
}


.alt-header{
	width:100%;
	height:30px;
}


.alt-header2{
	width:100%;
	height:40px;
}

.genre-head{
	width:100%;
	color:grey;
	padding: 30px 0px 30px 10px;
}

.instruct-caption{
	width:100%;
	color:yellow;
	font-size:12px;
	padding: 0px 10px 0px 10px;
}



body{
	width:100%;
	heigth:100%;
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	font-size:16px;
}

.avitar-bk{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	width:100%;
	heigth:100%
	background-image: url('../images/avatar/background.jpg');
}

#content{
	width:100%;
	heigth:100%;
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	margin-bottom: 35px;
}

.movie-list-element{
	width: 320px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 5px 5px 20px 5px;
	float:left;
}

.movie-list-element a{
	color: white;
	text-decoration:none;
}

.movie-list-content{
	max-width: 1320px;
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:auto;
	background-color: yellow;
}

.list-title{
	width: 320px;
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;

}

.back-button-link {
	text-decoration:none;
	color:white;
}

.star-img{
	float:left;
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	clear:all;
}

